body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f5f5f5;
  color: #111111;
}

hr {
  border: 2px solid #111111;
}

#show-contact {
  display: none;
}

button.btn {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #111111;
  background-color: #f5f5f5;
  font-size: medium;
}

button.btn:hover {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  background-color: #111111;
  font-size: medium;
}

label {
  font-size: medium;
}